<%- include page/header_datepicker %>


		<div class="panel-body">

			<form method="post">
				<div class="col-md-12">
					<div class="form-group">
						<label>日期</label>
  						<!--<input id="datepicker1" name="datepicker1" type="text" value="<%= mdate %>"/>-->
              <label>Start Date</label>
              <input type="text" id="datepicker1" name="datepicker1" value="<%= mdate %>" size="10" readonly>
              <input type="button" value="..." id="BTN" name="BTN">
          </div> <!-- form-group -->
				</div> <!-- col-md-12 -->

				<div class="col-md-3">
					<div class="form-group">
						<label>選擇裝置</label>
						<select id="selected_mac" name="mac">
							<% if(units) { %>
								<% for(var i=0;i<units.length;i++){ %>
									<% if(units[i].type == 'aa00' || units[i].type == 'aa03' )  { %>
									<% if(mac === units[i].macAddr){ %>
										<option value = "<%= units[i].macAddr %>" selected>
									<% }else{ %>
										<option value = "<%= units[i].macAddr %>" >
									<% } %>

										<%= units[i].name %>
										</option>
									<% } %>
								<% } %>
							<% } %>
						</select>
					</div> <!-- form-group -->
				</div> <!-- col-md-3 -->

				<div class="col-md-3">
					<div class="form-group">
						<label>選擇時間</label>
						<select "selected_time" id="time_option" name="time_option">
							<% if(option == 0){ %>
								<option value="0" selected>一天</option>
							<% }else{ %>
								<option value="0">一天</option>
							<% } %>

							<% if(option == 1){ %>
								<option value="1" selected>一周</option>
							<% }else{ %>
								<option value="1">一周</option>
							<% } %>

							<% if(option == 2){ %>
								<option value="2" selected>一個月</option>
							<% }else{ %>
								<option value="2">一個月</option>
							<% } %>

							<% if(option == 3){ %>
							test
								<option value="3" selected>三個月</option>
							<% }else{ %>
								<option value="3">三個月</option>
							<% } %>

						</select>
					</div> <!-- form-group -->
				</div> <!-- col-md-3 -->

				<div class="col-md-3">
					<div class="form-group">
						<% if (user.authz.a05==true) { %>
							<button type="button" name="edit" onClick="find()" class="btn btn-primary btn-sm">
						<% }else{ %>
							<button type="button" name="edit" class="btn btn-defaut btn-sm" disabled>
						<% } %>
								<span class="glyphicon glyphicon-list-alt"></span> 查詢
							</button>
					</div>
				</div> <!-- col-md-3 -->

			</form>
			<div class="col-md-12">
				<table id="table1" class="display" cellspacing="0" width="100%">
	              <thead>
	                <tr style="color:#428bca">
	                    <td >溫度1</td>
						<td >濕度1</td>
						<td >電壓</td>
						<td >時間</td>
	                  </tr>
	                </thead>
	            </table>

			</div> <!-- col -->
			<div class="col-md-12 column">
				<label id="error_message" class="checkbox">
		            <font color="red"><b></b>
		            <% if (user.authz.a05==false) { %>
		                你沒有查詢權限,請通知管理員變更權限!
		            <% } %>
		        </label>
			</div> <!-- column-->
		</div> <!-- panel-body -->


<script class="code" type="text/javascript">

    var opt={
       dayNames:["星期日","星期一","星期二","星期三","星期四","星期五","星期六"],
       dayNamesMin:["日","一","二","三","四","五","六"],
       monthNames:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
       monthNamesShort:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
       prevText:"上月",
       nextText:"次月",
       weekHeader:"週",
       showMonthAfterYear:true,
       dateFormat:"yy-mm-dd",
       showOn: 'both',
       buttonImageOnly: true,
       buttonImage: 'images/calendar.png'
    };

    new Calendar({
        inputField: "datepicker1",
        dateFormat: "%Y/%m/%d",
        trigger: "BTN",
        bottomBar: true,
        weekNumbers: true,
        //showTime: 24,
        showTime    :false,
        onSelect: function() {this.hide();}
    });

    var opt={"oLanguage":{"sProcessing":"處理中...",
          "sLengthMenu":"顯示 _MENU_ 項結果",
          "sZeroRecords":"沒有匹配結果",
          "sInfo":"顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
          "sInfoEmpty":"顯示第 0 至 0 項結果，共 0 項",
          "sInfoFiltered":"(從 _MAX_ 項結果過濾)",
          "sSearch":"搜索:",
          "oPaginate":{"sFirst":"首頁",
                       "sPrevious":"上頁",
                       "sNext":"下頁",
                       "sLast":"尾頁"}
          },dom: 'Blrtip',
            buttons: [
                'copyHtml5',
                //'excelHtml5',
                'csvHtml5',
                //'pdfHtml5'
            ],
            "order": [[ 3, "desc" ]],
           "iDisplayLength": 25
   };
  var table = $("#table1").dataTable(opt); //中文化
    //$('#datepicker1').datepicker({dateFormat: 'yy-mm-dd', showOn: 'both',buttonImageOnly: true, buttonImage: 'images/calendar.png'});
    $('#datepicker1').datepicker(opt);

    if(location.protocol=="https:"){
		var wsUri="wss://"+window.location.hostname+":3000/api/ws/find";
	} else {
	    var wsUri="ws://"+window.location.hostname+":3000/api/ws/find";
	}
  	var ws=null;

      function wsConn() {
        ws = new WebSocket(wsUri);
        ws.onmessage = function(m) {
          //console.log('< from-node-red:',m.data);
          if (typeof(m.data) === "string" && m. data !== null){
            var msg =JSON.parse(m.data);
            console.log("from-node-red : id:"+msg.id);
            if(msg.id === 'change_table'){
                //Remove init button active
                console.log("v : "+msg.v);

                //Reload table data
                //console.log("v type:"+typeof(msg.v));
                table = $('#table1').dataTable();
                table.fnClearTable();
                var data = JSON.parse(msg.v);
                //console.log("addData type : "+ typeof(data)+" : "+data);
                if(data){
                    table.fnAddData(data);
                    /*table.$('tr').click(function() {
                    var row=table.fnGetData(this);
                        toSecondTable(row[1]);
                    });*/
                }
                waitingDialog.hide();
            }else if(msg.id === 'init_btn'){
                //Set init button active
                console.log("type:"+typeof(msg.v)+" = "+ msg.v);
                type = msg.v;
              }
          }
        }
        ws.onopen = function() {
          var obj = {"id":"init","v":"find client connection"};
          var getRequest = JSON.stringify(obj);
          console.log("getRequest type : "+ typeof(getRequest)+" : "+getRequest);
          console.log("ws.onopen : "+ getRequest);
          ws.send(getRequest);      // Request ui status from NR
          console.log(getRequest);

        }
        ws.onclose   = function()  {t
          console.log('Node-RED connection closed: '+new Date().toUTCString());
          connected = false;
          ws = null;
        }
        ws.onerror  = function(){
          console.log("connection error");
        }
      }
      wsConn();

      function find() {
      	showDialog();
      	var mac = document.getElementById("selected_mac").value;
      	var option = document.getElementById("time_option").value;
      	var date = document.getElementById("datepicker1").value;
      	//alert('mac :'+mac +', option : '+option +' , data : '+date);
      	if(ws){
            console.log("ws.onopen OK ");
        }
        var value = {};
        value['mac'] = mac;
        value['option'] = option;
        value['date'] = date;
        var mValue = JSON.stringify(value);
        //console.log("id type : "+ typeof(id)+" : "+id);
        var obj = {"id":"find","v":value};
        var objString = JSON.stringify(obj);
        //console.log("getRequest type : "+ typeof(objString)+" : "+objString);
        //console.log("ws.onopen : "+ objString);
        ws.send(objString);     // Request ui status from NR
        console.log("sent find WS");
      }

      function showDialog(){
          //waitingDialog.show('Custom message', {dialogSize: 'sm', progressType: 'warning'});
          waitingDialog.show();
          setTimeout(function () {
    			   waitingDialog.hide();
    		  }, 3000);
      }



  /*table = $('#table1').DataTable({
            dom: 'Blrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        } );*/

</script>


<%- include page/footer %>